* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}
.justify-content-space-around{
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.globe-color{
  color: #D387B2;
}
.bttn {
  padding: 2% 5%;
  display: inline-block;
  margin-top: 10%;
  border: 2px #fab758 solid;
  border-radius: 2.25rem;
  background-color: #fab758;
  transition: 0.3s;
  
  &:hover{
    box-shadow: 5px 10px rgba(0, 0, 0, 0.374);

  }
}
.twit-color{
  color: #5DAED5;
}
.fb-color{color: #688BD8;}
.header {
  .header-container {
    .boxes {
      margin-top: 2%;
      position: fixed;
      width: 100%;
      z-index: 999;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .nav-main {
        .nav-main-item {
          display: flex;

          li {
            padding: 0 2%;
            a {
              font-size: 22px;
              font-weight: 600;
            }
          }
        }
      }
      .button {
        :nth-child(1) {
          display: none;
        }
      }
      .launge {
        ul {
          li { padding: 0 50%;
            a {
              font-size: 22px;
              font-weight: 600;
            }
            padding: 0 2%;
          }
          display: flex;
        }
      }
    }
  }
}
// header end
// desing section start
#section1 {
  .sections1-container {
    background-color:#fef3e4a1 ;
    margin: auto;
    width: 100%;
    height: 100vh;
    .img {
      margin-left: 4%;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .contet {
      h1 {
        width: 64%;
        font-size: 40px;
        color: #343f52;
        margin-bottom: 5%;
      }
      p {
        font-size: 21px;
        width: 73%;
        color: rgba(0, 0, 0, 0.453);
      }
      margin-top: 14%;
      width: 40%;
      height: 100%;
    }
    .bttn {
      padding: 2% 5%;
      display: inline-block;
      margin-top: 10%;
      border: 2px #fab758 solid;
      border-radius: 2.25rem;
      background-color: #fab758;
    }
  }
}
// sections 1 end

// sections2 start
#section2 {
  .sections2-container {
    .sect2-content {
      text-align: center;
      p {
        font-size: 15px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.514);
      }
      h1 {
        width: 32%;
        font-size: 30px;
        color: #343f52;
        margin: auto;
        font-weight: bold;
      }
    }
    .sect2-boxes {
      margin-top: 10%;
      width: 100%;
      .box1 {
        width: 25%;
        text-align: center;
        i {
          color: #36496d;
          font-size: 50px;
        }
        h1 {
          color: #343f52;
          font-size: 33px;
          padding: 2% 0;
        }
        p {
          font-size: 20px;
          width: 60%;
          margin: auto;
          color: #60697b;
        }
        .bttn-1 {
          position: relative;
          padding: 15px 20px;
          border: none;
          color: #fab758;
          position: relative;
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 0;
            height: 5%;
            background-color: #fab758;
            transition: 2s;
          }

          i {
            color: #fab758;
            font-size: 18px;
          }
        }
      }
      .box2 {
        width: 25%;
        text-align: center;
        i {
          color: #36496d;
          font-size: 50px;
        }
        h1 {
          color: #343f52;
          font-size: 33px;
          padding: 2% 0;
        }
        p {
          font-size: 20px;
          width: 60%;
          margin: auto;
          color: #60697b;
        }
        .bttn-1 {
          position: relative;
          padding: 15px 20px;
          border: none;
          color: #fab758;
          position: relative;
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 0;
            height: 5%;
            background-color: #e2626b;
            transition: 2s;
          }

          i {
            color: #e2626b;
            font-size: 18px;
          }
        }
      }
      .box3 {
        width: 25%;
        text-align: center;
        i {
          color: #36496d;
          font-size: 50px;
        }
        h1 {
          color: #343f52;
          font-size: 33px;
          padding: 2% 0;
        }
        p {
          font-size: 20px;
          width: 60%;
          margin: auto;
          color: #60697b;
        }
        .bttn-1 {
          position: relative;
          padding: 15px 20px;
          border: none;
          color: #fab758;
          position: relative;
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 0;
            height: 5%;
            background-color: #45c4a0;
            transition: 2s;
          }

          i {
            color: #45c4a0;
            font-size: 18px;
          }
        }
      }
      .box4 {
        width: 25%;
        text-align: center;
        i {
          color: #36496d;
          font-size: 50px;
        }
        h1 {
          color: #343f52;
          font-size: 33px;
          padding: 2% 0;
        }
        p {
          font-size: 20px;
          width: 60%;
          margin: auto;
          color: #60697b;
        }
        .bttn-1 {
          position: relative;
          padding: 15px 20px;
          border: none;
          color: #fab758;
          position: relative;
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 0;
            height: 5%;
            background-color: #3f78e0;
            transition: 2s;
          }

          i {
            color: #3f78e0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
// section2 end
// section3 start
#section3 {
  .section3-container {
    margin-top: 2%;
    background-color:#fef3e4a1 ;
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 77%);
    width: 100%;
    height: 100vh;
    .content {
      width: 50%;
      text-align: left;
      padding: 10% 0;
      p {
        margin: auto;
        width: 78%;
        color: rgba(0, 0, 0, 0.503);
        font-size: 16px;
      }
      h3 {
        margin: auto;
        width: 76%;
        font-size: 16px;
        color: rgba(11, 11, 11, 0.5450980392);
        padding-bottom: 3%;
      }
      h1 {
        margin: auto;
        width: 78%;
        color: #343f52;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 2%;
      }
      .input {
        position: absolute;
        text-align: center;
        width: 43%;
        margin: auto;
        .textbox {
          outline: none;
          &::placeholder {
            color: rgba(0, 0, 0, 0.21);
          }
          margin-right: 0;
          border-right: 0;
          padding-right: 0;
          font-size: 23px;
          border: white;
        }
        .btn-sct3 {
          border-radius: 0 1.25rem 1.25rem 0;
          margin-left: 0%;
          border-left: 0;
          background-color: #fab758;
          font-size: 7px;
          border: hidden;
          color: white;
          padding: 11px;
          a {
            color: white;
            font-size: 21px;
          }
        }
      }
    }
    .img {
      width: 50%;
      .img-item {
        width: 100%;
      }
    }
  }
}
#section4 {
  margin-top: 5%;
  .container {
    width: 100%;
    height: 50vh;
    .content1 {
      width: 48%;
      margin-left: 2%;
      h3 {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.427);
      }
      h1 {
        color: #343f52;
        padding: 2% 0;
        font-size: 30px;
        width: 79%;
      }
      h4 {
        color: rgba(0, 0, 0, 0.548);
        font-size: 15px;
        width: 75%;
        font-weight: 100;
      }
      p {
        color: rgba(0, 0, 0, 0.548);
        width: 75%;
        font-size: 15px;
        padding-top: 2%;
      }

      .bttn {
        padding: 2% 5%;
        display: inline-block;
        margin-top: 10%;
        border: 2px #fab758 solid;
        border-radius: 2.25rem;
        background-color: #fab758;
      }
    }
    .content2 {
      width: 50%;
      .boxes {

        width: 70%;
        .box1 {box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          .number {
            margin: 0 2%;
            i {
              font-size: 15px;
              color: #fab758;
            }
          }
          .text {
            h1 {
              color: #34426e;
            }
            p {
              padding-top: 1%;
              color: rgba(0, 0, 0, 0.563);
            }
          }
        }
      }
    }
  }
}
// section4 end
// section5 start
#section5 {
  .container {
    width: 100%;
    height: 104vh;
    margin-top: 8%;
    .img 
    {
      width: 50%;
      img{
        width: 100%;
      }
    }
    .content {width: 50%;
      h2{
        padding: 10% 0 0 0;
color: rgba(0, 0, 0, 0.577);
font-size: 15px;
      }
      h1{
        padding: 2% 0;
        color: #34426E;
font-size: 25px;

}
      h3{
        color: #34426E;
      }
      p{
padding: 2% 0;
color: rgba(0, 0, 0, 0.59);
      }

    }
  }
}
// section5 end
// section6 start
#section6{
  
    
    .container{
      margin-top: 5%;
      width: 100%;
      height: 100vh;
      .content{ text-align: center;
        p{ font-size: 17px;
          color: rgba(0, 0, 0, 0.641);

        }
        h1{
font-size: 20px;
color: #34426E;
        }
      }
.boxes{
  justify-content: space-around;
  // margin-top: 4%;
  width: 100%;
  .box1{
    text-align: center;
    width: 20%;
    .img{
      width: 48%;
      margin: auto;
      img{
        width: 100%;

      }

      
    }
    h1{color: #34426E;

    }
    h3{font-size: 10px;
      padding: 5% 0;
      color: rgba(0, 0, 0, 0.69);

    }
    p{margin: auto;
      padding-bottom: 5%;
width: 64%;
    }
    .icons{
      a{
        i{padding: 0 2%;
          font-size: 20px;

        }
      }
    }
  }
}
    }
  }

#section105{
  border: none;
background-color: #343f52;
width: 100%;
height: 50vh;
clip-path: polygon(0 21%, 100% 36%, 100% 100%, 0 100%);
}
  #section12{
    background-color: #343f52;
    
    width: 100%;
  height: 80vh;
  
  }








@media (max-width: 967px) {
  .header {
    .header-container {
      .boxes {
        .button {
          :nth-child(1) {
            display: block;
          }
        }
        .launge {
          ul {
          }
        }
        .nav-main {
          .nav-main-item {
            display: none;
          }
        }
      }
    }
  }
  // nav-bar end
  // section1 start
  #section1 {
    text-align: center;
    .sections1-container {
      .contet {
        width: 60%;
        margin: 0 auto 2% auto;
        h1 {
          width: 100%;
          font-size: 28px;
        }
        p {
          font-size: 13px;
          width: 100%;
        }
        .bttn {
          padding: 6% 8%;
        }
      }
      .img {
        height: auto;
        margin: 15% auto 0 auto;
        width: 55%;
      }
    }
  }
  // sections 1 end
  // sections2 start
  #section2 {
    .sections2-container {
      margin-top: 1%;
      .sect2-content {
        width: 80%;
        
        h1 {
          width: 100%;
          font-size: 19px;
          padding-top: 2%;
          margin-left: 10%;
        }
        p {
          margin-left: 23%;
        }
      }
      .sect2-boxes {
        .box1 {
          h1 {
            font-size: 25px;
            padding: 6% 0;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
          width: 50%;
        }
        .box2 {
          width: 50%;
          h1 {
            font-size: 25px;
            padding: 6% 0;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
        }
        .box3 {
          margin-top: 3%;
          width: 50%;
          h1 {
            font-size: 25px;
            padding: 6% 0;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
        }
        .box4 {
          margin-top: 3%;
          width: 50%;
          h1 {
            font-size: 25px;
            padding: 6% 0;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
        }
      }
    }
  }
  // section2 end
  // section3 start
  #section3 {
    height: 100vh;
    .section3-container {
      .content {
        text-align: center;
        width: 100%;
        padding: 0 0;
        p {
          width: 100%;
          font-size: 14px;
          margin-bottom: 5%;
        }
        h1 {
          text-align: center;
          width: 100%;
          font-size: 19px;
        }
        h3 {
          font-size: 10px;
          width: 25%;
        }
        .input {
          width: 100%;
        }
      }
      .img {
        width: 100%;

        .img-item {
          height: 50%;
          margin-top: 25%;
          // width: 100%;
        }
      }
    }
  } // section3 end
  // section 4 start
  #section4 {
    width: 100%;

    .container {
      flex-wrap: wrap;
      width: 100%;
      position: relative;

      .content1 {
        text-align: center;
        width: 100%;
        .bttn {
          transition: 1s;
          &:hover {
            transform: scale(1);
          }
        }
        h1 {
          font-size: 20px;
          width: 100%;
        }

        h4 {
          font-size: 13px;
          width: 100%;
        }
        h3 {
          font-size: 16px;
        }
        p {
          width: 100%;
          font-size: 13px;
        }
      }
      .content2 {
        margin-top: 5%;
        width: 100%;
      }
    }
  }
  // section 4 end
  // section 5 start
  #section5{
    .container{    margin-top: 30%;
      
      .img{width: 100%;
        img{}
      }
.content{width: 100%;

}
    }
  }
   // section 5 end
  // section 6 start
#section6{ width: 100%  ;
  height: auto;
  margin:100px 0;
.container{
  margin-top:30%;
  .content{

  }
  .boxes{width: 100%;
    
    .box1{
      width:50%
    }
  }
}

}
#section7{
  width: 100%  ;
  height: auto;
  margin:100px 0;
}
}
#section8{
  .backg{
    height: 100vh;
    background-color:#fef3e4a1 ;
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 77%);
  }
}
#section11{
  width: 100%;
height: 50vh;
}